<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="StabilityQualityControlSystemUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="conString" connectionString="Data Source=ujjwal;Initial Catalog=STABILITY;Integrated Security=True" />
    <add name="StabilityQualityControlSystemUI.Properties.Settings.STABILITYConnectionString" connectionString="Data Source=ujjwal;Initial Catalog=STABILITY;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="STABILITYEntities" connectionString="metadata=res://*/EntityFramework.stabilityCheckModel.csdl|res://*/EntityFramework.stabilityCheckModel.ssdl|res://*/EntityFramework.stabilityCheckModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ujjwal;initial catalog=STABILITY;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="STABILITYEntities1" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ujjwal;initial catalog=STABILITY;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <StabilityQualityControlSystemUI.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
    </StabilityQualityControlSystemUI.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>